@media (min-width: 1024px) {
    .main-container2{
        border-radius: 0px 0px 0px 250px;
        background-color: hsl(231, 69%, 60%);
        position: relative;
        left: 100px;
    }
    .main-container2 img{
        position: absolute;
        bottom: 5px;
        right: 50px;
    }
}

@media (max-width: 1023px) and (min-width: 766px) {
    .main-container2{
        border-radius: 102px 0px 0px 50px;
        background-color: hsl(231, 69%, 60%);
        position: relative;
        left: 100px;
    }
    .main-container2 img{
        position: absolute;
        left: -80px;
        bottom: 41px;
        /* right: 50px; */
    }
}

@media (max-width: 765px) and (min-width:315px ) {
    .main-container2{
        position: relative;
        bottom: 120px;
        left: 100px;
        border-radius: 25% 0% 0% 25% ;
        background-color: hsl(231, 69%, 60%);
    }
    .main-container2 img{
        position: absolute;
        bottom: 1px;
        left: -100px;
    }
    
}